.bulb{
    background-color: yellow;
    height: 150px;
    width: 150px;
    border: 2px solid red;
    border-radius: 100px;
}
.red{
    height: 150px;
    width: 150px;
    border: 2px solid red;
    border-radius: 100px;
}
/* .yellow{

     height: 150px;
    width: 150px;
    border: 2px solid red;
    border-radius: 100px;
} */