.clear {
    width: 20rem;
    height: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
}

.clear2 {
    width: 30rem;
    height: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
}